body{
	margin:0;
	padding:0;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

*{
	margin:0;
	padding:0;
}


#footer{
	
	width:100%;
	min-height:80px;
	padding:20px;
	padding-top:10px;
	z-index:5;
}

.footer-links{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size:2rem;
}
	
#contact-title{
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items:center;
	color:#fff;
}

.contact-details, .footer-centered{
	display:flex;
	flex-direction: column;
	align-items:center;
	color:#fff;
	font-size:1.2em;
}
.contact-icon{
	color: #fff;
}
.contact-icon:hover{
	color:#26a69a;
}
.contact-link > a{
	color:#fff;
}
.contact-link> a:hover{
	color:#26a69a;
}
.contact-link{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.fa{
	padding-right:10px;
	color:#fff;
}
.details{
	font-size:1.2em;
	color:#fff;
}
.recipes{
	margin-top:3.5rem;
	margin-left:20%;
	display: grid;
	/* grid-template-columns: 1fr 3fr; */
	
}


.nav-wrapper{
	position: fixed;
	top:0;
	left:0;
	z-index: 2;
}
.sidebar{
	position: fixed;
	top:4rem;
	left:0;
	max-height: 50vh;
	width:100%;
	z-index: 1;
}
.container{
	margin:0.5rem;
}

.main{
	
	width:100%;
}

.outer-wrapper{
	margin:4rem 4rem 2rem 4rem;
	justify-content: center;
	
}
.wrapper{
	margin:2rem 0;
}
.backLink{
	display: flex;
	flex-direction: row-reverse;
	margin-right:4%
}

